@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #513F75;
  padding: 0 5vw;
  font-family: "Poppins", sans-serif;
}
body header .menu-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 46px;
}
body header .menu-desktop__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body header .menu-desktop__nav img {
  margin-right: 80px;
}
body header .menu-desktop__nav .menu-header-container ul {
  display: flex;
  flex-direction: row;
}
body header .menu-desktop__nav .menu-header-container ul li {
  margin-right: 40px;
}
body header .menu-desktop__nav .menu-header-container ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
}
body header .menu-desktop__nav .menu-header-container ul li a:hover {
  color: #51D6C7;
  text-decoration: underline;
}
body header .menu-desktop__user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header .menu-desktop__user a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
  margin-right: 21px;
}

.searchBar h1 {
  font-size: 2.25rem;
  color: white;
  margin-bottom: 21px;
}
.searchBar form {
  display: flex;
  background-color: white;
  height: 58px;
  border-radius: 20px;
}
.searchBar form input {
  background-color: transparent;
  border: 0px solid;
  color: #E3EAFF;
  height: 38px;
  font-weight: bold;
  border-bottom: 1px solid #51D6C7;
  font-size: 1.25rem;
  margin-left: 31px;
  padding-top: 15px;
}
.searchBar form input:focus {
  outline: none;
}
.searchBar form button {
  background-color: transparent;
  border: 0px solid;
  height: 100%;
  color: #CCC;
  margin-left: 29px;
  border-left: 1px solid #51D6C7;
}

.homePage h1 {
  font-size: 2.25rem;
  color: white;
}
.homePage p {
  color: #513F75;
  padding-left: 21px;
}
.homePage h2 {
  font-size: 2.25rem;
  padding-top: 11px;
  padding-left: 21px;
}
.homePage a {
  text-decoration: none;
  color: #513F75;
}
.homePage a:hover {
  color: white;
}
.homePage button {
  background-color: transparent;
  font-size: 1.125rem;
  border: none;
  margin-left: 21px;
  margin-bottom: 21px;
}
.homePage .ideaSection {
  width: 100vw;
  margin-top: 98px;
  background-color: #51D6C7;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.homePage .ideaSection a {
  text-decoration: none;
  color: #513F75;
}
.homePage .ideaSection .ideaText {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin: 0px 90px;
  padding-bottom: 56px;
}
.homePage .ideaSection .ideaText h1 {
  font-size: 2.25rem;
  color: white;
}
.homePage .ideaSection .ideaContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 0px 90px;
  padding-bottom: 56px;
}
.homePage .ideaSection .ideaContainer .idea {
  background-color: white;
  border-radius: 20px;
  max-width: 367px;
}
.homePage .ideaSection .ideaContainer .idea img {
  border-radius: 20px;
}
.homePage .bestSection {
  width: 100vw;
  margin-top: -14px;
  background-color: #FBD8E6;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.homePage .bestSection .bestText {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  margin: 0px 90px;
  padding-bottom: 56px;
}
.homePage .bestSection .bestContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 0px 90px;
  padding-bottom: 67px;
}
.homePage .bestSection .bestContainer .best {
  background-color: white;
  border-radius: 20px;
  max-width: 367px;
}
.homePage .bestSection .bestContainer .best h2 {
  margin-bottom: 16px;
}
.homePage .bestSection .bestContainer .best p {
  max-width: 322px;
  margin-bottom: 23px;
}
.homePage .bestSection .bestContainer .best img {
  border-radius: 20px;
}
.homePage .bestSection .bestContainer .best button {
  background-color: #51D6C7;
  border-radius: 13px;
  font-size: 0.875rem;
  width: 217px;
  height: 39px;
}

footer {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: white;
  height: 201px;
  width: 100vw;
  color: #513F75;
}
footer .posirelative {
  position: relative;
  top: 20%;
}
footer .paddingleft {
  padding-left: 46px;
}
footer p {
  font-size: 1rem;
  margin-bottom: 8px;
  max-width: 267px;
  font-weight: lighter;
}
footer strong {
  font-weight: bold;
}
footer h3 {
  margin-bottom: 8px;
}
footer h2 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 5px;
}
footer a {
  font-size: 1rem;
  color: #513F75;
  margin-bottom: 8px;
}
footer .footerContainer {
  display: flex;
  margin: 0 90px;
}
footer .footerContainer .footerInfo {
  display: flex;
  flex-wrap: wrap;
  border-left: 3px solid rgba(81, 63, 117, 0.3);
  height: 150px;
  margin-top: 15px;
  margin-left: 46px;
}

.singlePost {
  color: white;
}
.singlePost p {
  margin-bottom: 20px;
}
.singlePost .singlePostContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.singlePost .singlePostContainer img {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}
.singlePost .singlePostContainer .singlePostInfo h2 {
  font-size: 1.875rem;
  margin-bottom: 10px;
}
.singlePost .singlePostContainer .singlePostInfo p {
  width: 50vw;
}
.singlePost .singlePostContainer .singlePostInfo .priceNight {
  background-color: #51D6C7;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 15px;
}

.title-page {
  text-align: start;
  font-size: 2.25rem;
  color: white;
}

/*# sourceMappingURL=main.css.map */
