.title-page-habitations{
    text-align: start;
    font-size: 45px;
    color: white;
    font-weight: bold;
    margin-bottom: 50px; margin-top: 80px;
}

.habitations-all{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 50px;
}

.card-container{
    background: #fff; border-radius: 15px;
    &__inner{

        &-img{
            width: 100%; height: 250px;
            overflow: hidden; border-radius: 15px;
            margin-bottom: 20px;
            
        }

        &-txt{
            display: flex; flex-direction: column;
            justify-content: space-between;
            color: #513F75; padding: 20px;
            height: 200px; margin-bottom: 30px;

            &__container{

                h2{
                    font-weight: bold; font-size: 25px;
                }
    
                &__author{
                    font-weight: 300; font-size: 14px;
                    margin-bottom: 20px; margin-top: 5px;
                }
            }

            &__excerpt{
                font-weight: 300; font-size: 16px;
                line-height: 20px;
            }

            &__btn{
                background-color: #51D6C7; color: #513F75;
                padding: 15px; font-weight: bold; font-size: 14px;
                border-radius: 15px; width: 50%; text-align: center;
                text-decoration: none; margin-top: 20px;
            }
        }
    }
}

.pagination-habitations{
    text-align: end; font-size: 18px;
    margin-bottom: 30px; margin-top: 20px;

    .current{
        color: #fff !important; font-weight: bold !important;
        font-size: 20px;
    }

    .page-numbers{
        color: #D4D4D4; font-weight: 300;
    }
}