body{
    background: #513F75;
    padding: 0 5vw;
    font-family: 'Poppins', sans-serif;

    header{

        .menu-desktop{
            display: flex; flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 39px;
            margin-bottom: 46px;

    
            &__nav{
                display: flex; flex-direction: row;
                align-items: center;
                
                img{
                    margin-right: 80px;
                }
                .menu-header-container{
                    ul{
                        display: flex; flex-direction: row;
                        li{
                            margin-right: 40px;
                            a{
                                color: white;
                                text-decoration: none;
                                font-size: 1.125rem;
                                &:hover{
                                    color: #51D6C7;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }


    
            &__user{
                display: flex; flex-direction: row;
                justify-content: center; align-items: center;
                a{
                    color: white;
                    text-decoration: none;
                    font-size: 1.125rem;
                    margin-right: 21px;
                }
            }
        }
    }
}